/* Styling for top images */
.top-images {
    display: flex;
    flex-wrap: wrap; /* Allow images to wrap to the next line */
    justify-content: center; /* Center align images horizontally */
    align-items: center; /* Center align images vertically */
    margin-top: 230px; /* Adjust margin top as needed */
}

/* Styling for all images */
.image {
    width: 250px; /* Adjust width as needed */
    height: 250px; /* Make it a square shape */
    margin: 15px; /* Adjust margin as needed */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth transition for hover effect */
    cursor: pointer; /* Change cursor to pointer */
    object-fit: cover; /* Ensure image covers the specified dimensions */
}

/* Add hover effect */
.image:hover {
    opacity: 0.8; /* Adjust opacity on hover */
    transform: scale(1.1); /* Zoom in effect on hover */
}
